.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: rgba(118, 105, 147, 1);
}

.messages{
    padding: 10px;
}

.messages .message{

}